<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Inicio</h1>
           
        </div>
        <hr>
        <a th:href="@{/agregar}">Create Person</a>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <td>Nombre:</td>
                    <td>Apellido</td>
                    <td>Email</td>
                    <td>Editar</td>
                    <td>Eliminar</td>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellido}"></td>
                    <td th:text="${persona.email}"></td>
                    <td><a th:href="@{/editar/}+${persona.id}">Editar</a></td>
                    <td><a th:href="@{/eliminar/}+${persona.id}">Eliminar</a></td>
                </tr>

            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            Sin datos
        </div>
    </body>
</html>
