<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Inicio</h1>
           
        </div>
        <hr>
        <!--        Nombre: <span th:text="${persona.nombre}">Nombre</span><br>
                Apellido <span th:text="${persona.apellido}">Apellido</span><br>
                Email <span th:text="${persona.email}">Email</span><br>
                Telefono <span th:text="${persona.telefono}">Telefono</span><br>-->
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <td>Nombre:</td>
                    <td>Apellido</td>
                    <td>Email</td>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}"></td>
                    <td th:text="${persona.apellido}"></td>
                    <td th:text="${persona.email}"></td>
                </tr>

            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            Sin datos
        </div>
    </body>
</html>
