<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Inicio</h1>
            <p th:text="${message}"></p>
            <p th:text="${messageApp}"></p>
        </div>
        <hr>
        Nombre: <span th:text="${persona.nombre}">Nombre</span><br>
        Apellido <span th:text="${persona.apellido}">Apellido</span><br>
        Email <span th:text="${persona.email}">Email</span><br>
        Telefono <span th:text="${persona.telefono}">Telefono</span><br>
    </body>
</html>
